{% extends 'base.html.twig' %}



{% block body %}
<link rel="stylesheet" href="{{asset('assets/css/profile.css')}}"/>
<link rel="stylesheet" href="{{asset('assets/css/title.css')}}"/>
{% if is_granted('ROLE_ARTIST') %}
<div>
    {% set artwork_number =0 %}
    {% for art_work in art_works %}
         {% if art_work.user.artist.username == app.user.artist.username %} 
            {% set artwork_number = artwork_number + 1  %}
         {% endif %}
    {% endfor %}     
    <ul class="heading" >
        <li class="info">
            <img class="photo" src="/uploads/profiles/{{app.user.artist.profilePicture}} " alt="">
            <h5>Artiste : {{ app.user.artist.username }}</h5>
            <h5>E-mail: {{ app.user.email }}</h5>
            <h5>Inscrit le : {{ app.user.joinedAt ? app.user.joinedAt|date('Y-m-d') : '' }}</h5>
            <h5>Nombre d'oeuvres : {{artwork_number}}</h5></li>
      
        <li>  <img class="cover"src="/uploads/profiles/{{app.user.artist.coverPicture}} " alt="">  </li>

    </ul>
    
    <div class="title">
        <h2>À propos de {{ app.user.artist.username }}</h2>
    </div>
        
    <div class="about">
        <ul class="links">
            <li><h5>Links</h5>
            {% if app.user.artist.facebook is not null %}
            <li><img src="{{asset('assets/images/Icons/facebook.svg')}}" alt=""><a href="{{app.user.artist.facebook}}}"target="_blank">Ajoute-moi sur Facebook</a></li>
            {% endif %}
            {% if app.user.artist.instagram is not null %}
            <li><img src="{{asset('assets/images/Icons/instagram.svg')}}" alt=""><a href="{{app.user.artist.instagram}}}"target="_blank">Suivez-moi sur Instagram</a></li>
            {% endif %}
            {% if app.user.artist.twitter is not null %}
            <li><img src="{{asset('assets/images/Icons/twitter.svg')}}" alt=""><a href="{{app.user.artist.twitter}}}"target="_blank">Suivez-moi sur Instagram</a></li>
            {% endif %}
        </ul>
        <ul class="bio">
            <li><h5>Biographie</h5><li>
            <li><p>{{ app.user.artist.Bio }}<p><li>
        </ul>
    </div>

    <div class="title">
        <h2>Les oeuvres de {{ app.user.artist.username }}</h2>
    </div>
    
    {% for art_work in art_works %}
         {% if art_work.user.artist.username == app.user.artist.username %} 
         
            <div class="grid">
            <ul class="card">  
                <li><img class="artwork_cover" src="/uploads/artworks/{{art_work.image}} " alt=""></li>
                
               
                <li class="artwork_info"><h5>{{ art_work.Title }}<h5>
                    <h5>Ajouté le : {{ art_work.createdAt ? art_work.createdAt|date('Y-m-d') : '' }}</h5>
                </li>
                <li><h5 class="price">Prix : {{ art_work.price }} TND<h5></li>
                <li class="arrow"><a href="{{ path('app_art_work_show', {'Title': art_work.Title}) }}"><img  src="{{asset('assets/images/Icons/arrowblue.svg')}}" alt=""></a></li>
                 <li><a href="{{ path('app_art_work_edit', {'Title': art_work.Title}) }}"><img  class="icon" src="{{asset('assets/images/Icons/edit.svg')}}" alt=""></a><li>
                 

                
                
            </ul>        
            </div>
        {% endif %}
        {% else %}
            
    {% endfor %}
</div>   
{% endif %}
{% if is_granted('ROLE_PROFESSIONAL') %}
<div>    
    <ul class="heading" >
        <li class="info">
            <img class="photo" src="/uploads/profiles/{{app.user.professional.profilePicture}} " alt="">
            <h5>Professionlle : {{ app.user.professional.username }}</h5>
            <h5>Inscrit le : {{ app.user.joinedAt ? app.user.joinedAt|date('Y-m-d') : '' }}</h5>
            <h5>E-mail: {{ app.user.email }}</h5>
            <h5>Établissement de travail : {{app.user.professional.workEstablishment}} </h5></li>
            
        <li>  <img  class="cover" src="{{asset('assets/images/pro_cover.jpg')}}" alt="">  </li>

    </ul>
    <div class="title">
        <h2>Commissions ajoutée par {{ app.user.professional.username}}</h2>
    </div>
    {% for comission in comissions %}
    {% if comission.user.professional.username == app.user.professional.username %}
        <div class="grid">
		
            <ul class="card">
					<li><img class="artwork_cover" src="/uploads/artworks/{{comission.image}} " alt=""></li>
			        <li class="artwork_info"><h5>{{ comission.Title }}</h5></li>
                    <li><h5 class="price">Budget : {{ comission.budget }} TND<h5></li>
                    <li class="arrow"><a href="{{ path('app_comission_show', {'Title': comission.Title}) }}"><img  src="{{asset('assets/images/Icons/arrowblue.svg')}}" alt=""></a></li> 
			</ul>
        
	    </div>
    {% endif %}
    {% endfor %}
</div>   
{% endif %}
{% if is_granted('ROLE_AMATEUR') %}
<div>    
    <ul class="heading" >
        <li class="info">
            <img class="photo" src="/uploads/profiles/{{app.user.artlover.profilePicture}} " alt="">
            <h5>Amateurs d'art : {{ app.user.artlover.username }}</h5>
            <h5>Inscrit le : {{ app.user.joinedAt ? app.user.joinedAt|date('Y-m-d') : '' }}</h5>
            <h5>E-mail: {{ app.user.email }}</h5>
            
            
        <li>  <img  class="cover" src="{{asset('assets/images/artlover_cover.jpg')}}" alt="">  </li>

    </ul>
</div>   
{% endif %}
{% endblock %}
