{% extends 'base.html.twig' %}



{% block body %}
<link rel="stylesheet" href="{{asset('assets/css/profile.css')}}"/>
<link rel="stylesheet" href="{{asset('assets/css/title.css')}}"/>
<div>    
    <ul class="heading" >
        <li class="info">
            <img class="photo" src="/uploads/profiles/{{app.user.artist.profilePicture}} " alt="">
            <h5>Artiste : {{ app.user.artist.username }}</h5>
            <h5>E-mail: {{ app.user.email }}</h5></li>
      
        <li>  <img class="cover"src="/uploads/profiles/{{app.user.artist.coverPicture}} " alt="">  </li>

    </ul>
    <a class="edit" href="{{ path('app_artist_profile_edit', {'username': app.user.artist.username}) }}"><button>Modifier votre profil</button></a>
    <div class="title">
        <h2>À propos de {{ app.user.artist.username }}</h2>
    </div>
        
    <div class="about">
        <ul class="links">
            <li><h5>Links</h5>
            {% if app.user.artist.facebook is not null %}
            <li><img src="{{asset('assets/images/Icons/facebook.svg')}}" alt=""><a href="{{app.user.artist.facebook}}}"target="_blank">Ajoute-moi sur Facebook</a></li>
            {% endif %}
            {% if app.user.artist.instagram is not null %}
            <li><img src="{{asset('assets/images/Icons/instagram.svg')}}" alt=""><a href="{{app.user.artist.instagram}}}"target="_blank">Suivez-moi sur Instagram</a></li>
            {% endif %}
            {% if app.user.artist.twitter is not null %}
            <li><img src="{{asset('assets/images/Icons/twitter.svg')}}" alt=""><a href="{{app.user.artist.twitter}}}"target="_blank">Suivez-moi sur Instagram</a></li>
            {% endif %}
        </ul>
        <ul class="bio">
            <li><h5>Biographie</h5><li>
            <li><p>{{ app.user.artist.Bio }}<p><li>
        </ul>
    </div>

    <div class="title">
        <h2>Les oeuvres de {{ app.user.artist.username }}</h2>
    </div>

</div>   

{% endblock %}
