{% extends 'base.html.twig' %}

{% block body %}
<link rel="stylesheet" href="{{asset('assets/css/profile.css')}}"/>
<link rel="stylesheet" href="{{asset('assets/css/title.css')}}"/>
<div class="title">
    <h2>Les oeuvres de {{ app.user.artist.username }}</h2>
    <a class="add"   style="color:#15212f;" href=" {{path('app_art_work_new')}} "><img src="{{asset('assets/images/Icons/addcircle.svg')}}" alt=""></a>
</div>

 <div class="myartworks"> 
 
 {% for art_work in art_works %}
         {% if art_work.user.artist.username == app.user.artist.username %} 
         
            <div class="grid">
                <ul class="card">  
                <li><img class="artwork_cover" src="/uploads/artworks/{{art_work.image}} " alt=""></li>
                
               
                <li class="artwork_info"><h5>{{ art_work.Title }}<h5>
                    <h5>Ajouté le : {{ art_work.createdAt ? art_work.createdAt|date('Y-m-d') : '' }}</h5>
                </li>
                <li><h5 class="price">Prix : {{ art_work.price }} TND<h5></li>
                <li class="arrow"><a href="{{ path('app_art_work_show', {'Title': art_work.Title}) }}"><img  src="{{asset('assets/images/Icons/arrowblue.svg')}}" alt=""></a></li>
                 <li><a href="{{ path('app_art_work_edit', {'Title': art_work.Title}) }}"><img  class="icon" src="{{asset('assets/images/Icons/edit.svg')}}" alt=""></a><li>
                 

                
                
                </ul>        
            </div>
            
        {% endif %}
        {% else %}
            
    {% endfor %}
    </div>
    
{% endblock %}
