{% extends 'base.html.twig' %}



{% block body %}
<link rel="stylesheet" href="{{asset('assets/css/title.css')}}"/>
<link rel="stylesheet" href="{{asset('assets/css/artistList.css')}}"/>

<div class="title">
    <h2>Artistes indépendants</h2>
<div>
{% for artist in artists %}
    <div class="grid">
        <ul class="card">
            <li><img class="cover"src="/uploads/profiles/{{artist.coverPicture}} " alt=""></li>
            <li><img class="photo" src="/uploads/profiles/{{artist.profilePicture}} " alt=""></li>
            <li><h5>{{ artist.username }}<h5></li>
            <li><a href="{{ path('app_artist_profile_show', {'username': artist.username}) }}"><button>Voir<img class="arrow" src="{{asset('assets/images/Icons/arrow.svg')}}" alt=""></button></a></li>
        </ul>
    </div>
    {% else %}
         <h1>no records found</h1>

{% endfor %}
    

   
{% endblock %}
