



{% block body %}
<link rel="stylesheet" href="{{asset('assets/css/request.css')}}"/>
<div >
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    
    <ul class="request">
        <li><h1>Réinitialisez votre mot de passe</h1></li>

     <li>{{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}</li>
        <li>
            <h4>
                Entrez votre adresse e-mail et nous vous enverrons<br> un lien pour réinitialiser votre mot de passe.
            </h4>
        </li>

        <button class="btn btn-primary">Réinitialiser le mot de passe</button>
        {{ form_end(requestForm) }}
        <li><a href="{{path('app_login')}}">Retourner à la page de connexion ?</a></li>
        <ul>
    </div>
{% endblock %}
