{% extends 'base.html.twig' %}



{% block body %}
<link rel="stylesheet" href="{{asset('assets/css/profile.css')}}"/>
<link rel="stylesheet" href="{{asset('assets/css/title.css')}}"/>

<div>    
    <ul class="heading" >
        <li class="info">
            <img class="photo" src="/uploads/profiles/{{app.user.professional.profilePicture}} " alt="">
            <h5>Artiste : {{ app.user.professional.username }}</h5>
            <h5>E-mail: {{ app.user.email }}</h5>
            <h5> {{app.user.professional.workEstablishment}} </h5></li>
            
        <li>  <img src="{{asset('assets/images/pro_cover.jpg')}}" alt="">  </li>

    </ul>
    <a class="edit" href="{{ path('app_artist_profile_edit', {'username':app.user.professional.username}) }}"><button>Modifier votre profil</button></a>
    
        
    

     

{% endblock %}
