<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Artistic Corner{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        
       <link rel="stylesheet" href="{{asset('assets/css/navbar.css')}}"/>
       <link rel="stylesheet" href="{{asset('assets/css/footer.css')}}"/>

    </head>
    <body>
    <header>
         <div class="nav-bar">
      <ul>
        <li>
          <a href="{{path('app_home')}}">
            <img src="{{asset('assets/images/logo.svg')}}" alt="">
          </a>
        </li>
        <li>
          <a href="#">Boutique</a>
        </li>
        <li>
          <a href="#">Inspiration</a>
        </li>
      </ul>
      <ul class="sign">
        <li>
          <a href="{{path('app_register')}}">S'inscrire</a>
        </li>
        <li>
          <h5>Ou</h5>
        </li>
        <li>
          <a href="{{path('app_login')}}">S'identifier</a>
        </li>
      </ul>
    </div>
    </header>

    {% block body %}{% endblock %}

    <footer>
        <div class="footer">
      <ul>
        <li>
          <h5>À propos artistic corner</h5>
        </li>
        <li>
          <p>Nous contacter</p>
        </li>
        <li>
          <p>Commande et paiement</p>
        </li>
      </ul>
      <ul>
        <li>
          <h5>Pour les acheteurs</h5>
        </li>
        <li>
          <p>Achats personnels</p>
        </li>
        <li>
          <p>Commandez une œuvre</p>
        </li>
        <li>
          <p>Trouver un cadeau</p>
        </li>
      </ul>
      <ul>
        <li>
          <h5>Pour les artistes</h5>
        </li>
        <li>
          <p>Pourquoi vendre ici ?</p>
        </li>
        <li>
          <p>Termes et conditions</p>
        </li>
        <li>
          <p>Comment vendre de l'art en ligne ?</p>
        </li>
      </ul>
      <ul>
        <li>
          <h5>Oeuvres</h5>
        </li>
        <li>
          <p>Photographie d'art</p>
        </li>
        <li>
          <p>Impressions artistiques</p>
        </li>
        <li>
          <p>Sculptures</p>
        </li>
        <li>
          <p>Drawings</p>
        </li>
        <li>
          <p>Illustrations</p>
        </li>
      </ul>
    </div>  

    </footer>    
    </body>
</html>
