{% extends 'base.html.twig' %}

{% block title %}Messagerie{% endblock %}

{% block body %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"> defer </script>
<link rel="stylesheet" href="{{asset('assets/css/title.css')}}"/>
<div class="title">
	<h2>Accueil</h2>
</div>
<section class="container">
		<div class="row">
			<div class="col">
				
				
				<p>Reçus : {{ app.user.received|length }}</p>
				<p>Envoyés : {{ app.user.sent|length }}</p>
				<a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
					Voir mes dossiers
				</a>
                <a href="{{path("send")}}" class="btn btn-primary">Envoyer un message</a>
			</div>
		</div>
</section>
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
		<div class="offcanvas-header">
			<h2 class="offcanvas-title" id="offcanvasExampleLabel">Mes dossiers</h2>
			<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
		</div>
		<div class="offcanvas-body">
            <div class="list-group">
                <a href="{{ path("messages") }}" class="list-group-item list-group-item-action active">Accueil</a>
            </div>
			<br>
            <div class="list-group">
                <a href="{{ path("received") }}" class="list-group-item list-group-item-action">Boîte de réception</a>
            </div>
			<br>
            <div class="list-group">
                <a href="{{ path("sent") }}" class="list-group-item list-group-item-action">Eléments envoyés</a>
            </div>
		</div>
	</div>

{% endblock %}
