{% extends 'base.html.twig' %}



{% block body %}
<link rel="stylesheet" href="{{asset('assets/css/title.css')}}"/>
<link rel="stylesheet" href="{{asset('assets/css/artwork.css')}}"/>     
 <div class="title">
        <h2>{{ art_work.Title }}</h2>
        <h5 style="font-size: 16px;
   margin-top: -30px;
  color: #15212f;
  
  "> {{ art_work.category }}, {{ art_work.style}}, {{art_work.subject}} </h5>     
 </div>       
<div>            
  <ul class="card">
               
   <li class="section1">
    <img class="cover"src="/uploads/artworks/{{art_work.image}} " alt="">
    <h5>Description originale de l'oeuvre : </h5>
    <p>{{ art_work.description }}</p>
    <h5>Les matériaux utilisés : </h5>
    <p>{{ art_work.materialsUsed }}</p> 
   </li>
   <li class="section2">
    <h5>{{ art_work.Title }}</h5>
    <p>Catégorie : {{ art_work.category }}</p>
    <h5>Faite par : {{ art_work.user.artist.username }}</h5>
    <h5>Prix : {{ art_work.price }} TND</h5>
    <p>Dimensions : {{ art_work.width }} x {{ art_work.hight }} cm</p> 
    <p>Style : {{ art_work.style }}</p>
    <p>Sujet : {{ art_work.subject }}</p>      
    <p>Ajoutée le : {{ art_work.createdAt ? art_work.createdAt|date('Y-m-d') : '' }}</p>
   </li>
      
  </ul>  
</div>
    

    <a href="{{ path('app_art_work_edit', {'Title': art_work.Title}) }}">edit</a>

    
{% endblock %}
